### Spring
PORT=8080
SPRING_PROFILE=local

### CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://your-app.vercel.app

### Database
DATABASE_URL=

### Docker Compose Database Credentials
DOCKER_DB_NAME=ord_db
DOCKER_DB_USER=ord_user
DOCKER_DB_PASSWORD=ord_password

### SMTP
EMAIL_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

### JWT
JWT_SECRET_KEY=

### OpenAI
OPEN_AI_KEY=

### Misc
ENV_TEST_PROPERTY=