### Spring
PORT=xxxx
SPRING_PROFILE=xxxx

### Database
DATABASE_URL=xxxx

### Database ( docker compose )
DB_PORT=xxxx
DB_NAME=xxxx
DB_USER=xxxx
DB_PASSWORD=xxxx

### JWT
JWT_SECRET_KEY=xxxx
JWT_EXPIRATION_TIME=xxxx

### OpenAI
OPEN_AI_KEY=xxxx

ENV_TEST_PROPERTY=1test1