### Spring
PORT=xxxx
SPRING_PROFILE=xxxx

### Database
DB_NAME=xxxx
DB_HOST=xxxx
DB_PORT=xxxx
DB_USERNAME=xxxx
DB_PASSWORD=xxxx

### JWT
JWT_SECRET_KEY=xxxx
JWT_EXPIRATION_TIME=xxxx

### OpenAI
OPEN_AI_KEY=xxxx

### This property is used to test the loading of the .env file
ENV_TEST_PROPERTY=1test1
