<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.ord" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.testcontainers" level="WARN"/>
    <logger name="tc" level="WARN"/>
    <logger name="org.flywaydb" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
</configuration>
